<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://23.251.145.177/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>23.251.145.177</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ebenites</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="plazaveaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=23.251.145.177\SQLEXPRESS;Initial Catalog=plazavea;Persist Security Info=True;User ID=sa;Password=FoDWxv*McuW9yD" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Fidelizacion.Models.plazaveaEntities, Fidelizacion" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Fidelizacion.Models.ApplicationDbContext, Fidelizacion" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)plazaveaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FidelizacionModel.csdl|res://*/Models.FidelizacionModel.ssdl|res://*/Models.FidelizacionModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=23.251.145.177\SQLEXPRESS;Initial Catalog=plazavea;Persist Security Info=True;User ID=sa;Password=FoDWxv*McuW9yD"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>