@using Fidelizacion.Models;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<h3>Ranking de Productos</h3>

@if (ViewBag.nreporte == 0)
{
    <div class="alert alert-danger">
        No existe información bajo los filtros indicados.
    </div>
}
else
{

    <div class="row">
        <div class="col-md-2">
            Filtros<br />sdsd
        </div>
        <div class="col-md-8">

            <table class="table table-hover table-bordered highchart" style="display:none" data-graph-container-before="1" data-graph-type="pie" data-graph-datalabels-enabled="1" data-graph-pie-show-in-legend="1">
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReporteCanje producto in ViewBag.reporte)
                    {
                        <tr>
                            <td>@producto.nombre</td>
                            <td data-graph-name="@producto.nombre">@producto.cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-2">

            <button class="btn btn-default" onclick="saveGraph()" style="width:100px">Guardar</button>
            <button class="btn btn-default" onclick="printGraph()" style="width:100px">Imprimir</button>

        </div>
    </div>

    <hr/>

}