@section scripts {
<script type="text/javascript">
	$(function(){

	});
</script>
}

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active">Administración de Puntos</li>
</ol>

<div class="page-header">
    <h2>Administración de Puntos</h2> 
    @{ViewBag.Title = "Administración de Puntos";}
</div>

<div class="jumbotron">
    <h2>Módulo Cerrado</h2>
    <p><a href="@Url.Content("~/Home/")" class="btn btn-primary">Regresar al Inicio</a></p>
</div>