@section scripts {
<script type="text/javascript">
		$(function(){

			$('[name="origen"]').typeahead({ source: getNombres() });

			$('[name="destino"]').typeahead({ source: getNombres() });

			$('#btn-transferir').click(function(){
				bootbox.dialog({
					message: $('#dia-transferir').html(),
					title: "Transferencia de Puntos",
					buttons: {
						danger: {
							label: "Cancelar",
							className: "btn-danger"
						},
						main: {
							label: "Aceptar",
							className: "btn-primary",
							callback: function() {

							}
						}
					}
				});
			});

		});

		function getNombres(){
			return ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"];
		}

</script>
}

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Administración de Puntos</a></li>
    <li class="active">Transferir Puntos</li>
</ol>

<div class="page-header">
    <h2>Transferir Puntos</h2> 
    @{ViewBag.Title = "Transferir Puntos";}
</div>

<form>

    <div class="row form-group">
        <label for="origen" class="col-sm-2 form-control-label text-right">Cuenta Origen</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="origen" class="form-control" style="width:300px" placeholder="Ingrese Nombres" autocomplete="off" />
            <input type="button" value="Buscar Afiliado" class="btn btn-default" />
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <colgroup>
                <col width="100" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="100" />
            </colgroup>
            <thead>
                <tr>
                    <td>DNI</td>
                    <td>Nombre</td>
                    <td>Apellidos</td>
                    <td>Cuenta</td>
                    <td>Puntos</td>
                    <td>Puntos a Transferir</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>47427921</td>
                    <td>Talía</td>
                    <td>Llanca Cotrina</td>
                    <td>CV-3918291</td>
                    <td>700</td>
                    <td></td>
                    <td><a href="#" id="btn-transferir" class="btn btn-success">Transferir</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />

    <div class="row form-group">
        <label for="destino" class="col-sm-2 form-control-label text-right">Cuenta Destino</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="destino" class="form-control" style="width:300px" placeholder="Ingrese Nombres" autocomplete="off" />
            <input type="button" value="Buscar Afiliado" class="btn btn-default" />
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <colgroup>
                <col width="100" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="100" />
            </colgroup>
            <thead>
                <tr>
                    <td>DNI</td>
                    <td>Nombre</td>
                    <td>Apellidos</td>
                    <td>Cuenta</td>
                    <td>Puntos</td>
                    <td>Puntos a Transferir</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>45545606</td>
                    <td>Erick</td>
                    <td>Benites Cuenca</td>
                    <td>CV-7262819</td>
                    <td>100</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <hr />

    <div class="row form-group">
        <div class="col-sm-5 text-right">
            <input type="submit" value="Grabar" class="btn btn-primary" style="width:100px" />
        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-5 text-left">
            <input type="button" value="Salir" class="btn btn-danger" style="width:100px" />
        </div>
    </div>

</form>


<div id="dia-transferir" style="display:none">

    <div class="row form-group form-horizontal">
        <label for="cuenta" class="col-sm-3 control-label">Cuenta Destino</label>
        <div class="col-sm-9">
            <input type="text" name="cuenta" class="form-control" readonly value="Erick Benites Cuenca" />
        </div>
    </div>

    <div class="row form-group form-horizontal">
        <label for="puntos" class="col-sm-3 control-label">Puntos transferir</label>
        <div class="col-sm-9">
            <input type="text" name="puntos" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="justificacion" class="col-sm-3 control-label">Justificación</label>
        <textarea name="justificacion" class="form-control"></textarea>
    </div>

</div>