@using Fidelizacion.Models;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="transferencia-form">

    <div class="row form-group form-horizontal">
        <label for="cuenta" class="col-sm-3 control-label">Cuenta Destino</label>
        <div class="col-sm-9">
            <input type="text" name="cuenta" class="form-control" readonly value="@ViewBag.destino.t_ficha_afiliacion.nombre @ViewBag.destino.t_ficha_afiliacion.apellidos" />
        </div>
    </div>

    <div class="row form-group form-horizontal">
        <label for="maximo" class="col-sm-3 control-label">Máximo de Puntos</label>
        <div class="col-sm-9">
            <input type="text" name="maximo" class="form-control" readonly value="@ViewBag.origen.getPuntosMaximosTransferir()" />
        </div>
    </div>

    <div class="row form-group form-horizontal">
        <label for="puntos" class="col-sm-3 control-label">Puntos transferir</label>
        <div class="col-sm-9">
            <input type="number" min="1" max="@ViewBag.origen.getPuntosMaximosTransferir()" name="puntos" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="justificacion" class="col-sm-3 control-label">Motivo</label>
        <textarea name="justificacion" class="form-control"></textarea>
    </div>

    <hr/>

    <div class="form-group text-right">
        <input type="button" value="Aceptar" class="btn btn-primary" onclick="aceptarTransaccion()" />
        <input type="button" value="Cancelar" class="btn btn-danger" onclick="cancelarTransaccion()" />
    </div>

</div>